/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    transition: all 0.3s;
}

.container {
    width: 85%;
    margin: auto;
}

/* Navbar */
nav {
    background: #1e4f8a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    transition: all 0.3s;
}

.nav-links a:hover {
    color: rgb(193, 142, 41);
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: rgb(193, 142, 41);
    transition: width 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
    font-size: 22px;
    cursor: pointer;
}

/* ظظظظظظظظظظظظظظظظظظظظظظظظظظظظ */



/* Hero Section */
/* Hero Section */

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: #f4f4f4;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    gap: 50px;
}



.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #1e4f8a;
}

.hero-text {
    margin-top: 50px;
    text-align: start;
}

.hero-text p {
    font-size: 20px;
    width: 80%;
    margin-top: 40px;
    color: #4f4b4b;

}

.hero-text button {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 22px;
    background: #1e4f8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-image {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 50px;
}

@media(max-width: 1024px) {
    .hero-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-text {
        text-align: center;
        margin-top: -50px;
    }

    .hero-text h1 {
        font-size: 36px;
        color: #1e4f8a;
    }

    .hero-text p {
        font-size: 18px;
        text-align: center;
        width: 100%;
        margin: 20px auto;
    }

    .hero-image {
        margin-bottom: 20px;
    }

    .hero-image img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
    }
}

/* //////////////////////////////// */



section {
    padding: 80px 0px;
    text-align: center;
}

.about {
    padding: 40px 0px;

}

.about-title {
    text-align: center;
    font-size: 32px;
    color: #2b5c8a;
}

.line {
    width: 60px;
    height: 4px;
    background: #f4c542;
    margin: 10px auto 40px;
    border-radius: 5px;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1000px;
    margin: auto;
}

.about-img {
    border: 3px solid #2b5c8a;
    padding: 15px;
    border-radius: 15px;
}

.about-img img {
    width: 220px;
}

.about-text {
    max-width: 900px;
    color: #555;
    line-height: 1.8;
    font-size: 16px;
}

@media (min-width: 992px) {

    .about-container {
        flex-direction: row;
        text-align: center;
    }

    .about-img img {
        width: 200px;
    }

}




.skills-container,
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.skill-card,
.project-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
}

.skill-card {
    width: 220px;
    height: 100px;
}

.project-card {
    width: 250px;
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px;
    background: #1e4f8a;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Footer */
footer {
    background: #1e4f8a;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
}

.close {
    cursor: pointer;
    font-size: 22px;
}

/* Responsive */
@media(max-width:1024px) {
    .nav-links {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: #1e4f8a;
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease;
        text-align: center;
    }

    .nav-links.active {
        max-height: 500px;
    }

    .nav-links li {
        padding: 15px 0;
    }

    .menu-toggle {
        display: block;
    }
}



.skills {
    padding: 80px 20px;
    background: #f3f3f3;
    text-align: center;
}

.skills-title {
    font-size: 32px;
    color: #1f4e79;
}

.line {
    width: 50px;
    height: 4px;
    background: #f4c542;
    margin: 10px auto 40px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill-card {
    width: 200px;
    height: 150px;
    font-size: 25px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-5px);
}

.skill-card i {
    font-size: 35px;
    color: #1f4e79;
    margin-bottom: 10px;
}




.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    position: relative;
}

.modal-content i {
    font-size: 40px;
    color: #1f4e79;
    margin-bottom: 15px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}




.projects{
    background:#f3f3f3;
}

.projects-title{
    font-size:32px;
    color:#1f4e79;
}

.projects-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
    margin-top:40px;
}

.project-card{
    width:320px;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
    text-align:left;
    padding: 0;
}

.project-card:hover{
    transform:translateY(-8px);
}

.project-card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.project-card h3{
    color:#1f4e79;
    margin:15px;
}

.project-card p{
    margin:0 15px 20px;
    color:#555;
    font-size:14px;
}

.project-btn{
    display:inline-block;
    margin:0 15px 20px;
    padding:10px 15px;
    background:#1f4e79;
    color:white;
    text-decoration:none;
    border-radius:6px;
    font-size:14px;
}

.project-btn:hover{
    background:#163a5a;
}



@media(max-width:768px){

    .projects-container{
        flex-direction:column;
        align-items:center;
    }

    .project-card{
        width:90%;
    }

}